html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  height: 100%;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(21, 62, 103);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.relative {
  position: relative;
}
