.container {
    background: #f3f3f3;
    height: 100vh;
}

.boxContainer {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

.banner {
    background: url('../images/banner.png') no-repeat;
    height: 260px;
    background-size: contain;
    background-position: center;
    background-color: white;
    box-shadow: 4px 4px 20px 9px #ccc;
}
